<div fxLayoutAlign="center center" style="padding-top: 20px;">

  <mat-card>

    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>
        Register
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <!-- <form [formGroup]="registerForm" (ngSubmit)="onRegister()"> -->
        <div formGroupName="userData" fxLayout="column">

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            <mat-error *ngIf="!registerForm.get('userData.email').valid && registerForm.get('userData.email').touched">
              Not a valid email
            </mat-error>
            <!-- <mat-error *ngIf="registerForm.get('userData.email').errors['required']">This field is required</mat-error> -->
            <!-- <mat-error *ngIf="!registerForm.get('userData.email').valid && registerForm.get('userData.email').touched">Not
                a valid email</mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="!registerForm.get('userData.password').valid">Not a valid password</mat-error>
            <!-- <mat-error *ngIf="registerForm.get('userData.password').errors['required']">Not a valid password</mat-error> -->
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit">Register</button>

        </div>
      </form>
    </mat-card-content>

    <div fxLayoutAlign="end center" fxLayout="column">
      <p>Aleady registered? <a routerLink="/login" style="text-decoration: none">Sign In</a></p>
    </div>
  </mat-card>


</div>


<!-- <div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Email" ngModel name="email">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Password" ngModel type="password" name="password">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->