<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Email" ngModel name="email">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Password" ngModel type="password" name="password">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>