<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

  <mat-card style="width: 60%;">

    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>
        <h1>Live Music PDX</h1>
      </mat-card-title>
    </mat-card-header>

    <div fxlayoutAlign="center center" style="padding: 0px 80px; text-align: center;">
      <img mat-card-image src=" https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Portland%2C_Oregon.svg"
        style="max-width: 225px;">
    </div>

    <mat-card-content fxLayoutAlign="center start" fxLayout="row">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <h3 style="text-align: center;">Look up and track your favorite artists and PDX venues</h3>
          </div>
          <mat-divider [vertical]="true" style="height: 150px;"></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <h3 style="text-align: center;">Discover your perfect live music event in the Portland, Oregon area</h3>
          </div>
          <mat-divider [vertical]="true" style="height: 150px;"></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <h3 style="text-align: center;">Quickly find an event by date, search, or checkout the most popular events
              of the day</h3>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <button mat-mini-fab color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <button mat-mini-fab color="primary">
              <mat-icon>music_note</mat-icon>
            </button>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
            <button mat-mini-fab color="primary">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>

</div>

<div style="padding: 0px 20px; margin-top: 20px;" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"
  fxLayoutAlign.lt-sm="center center" fxLayoutGap.gt-xs="45px">

  <div>

    <form [formGroup]="searchDateForm" (ngSubmit)="searchDateEvents()">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Search event date" ngModel
          name="eventDate" formControlName="searchDate" (dateInput)="addEvent($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon color="primary">today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

  </div>

  <div>

    <form [formGroup]="searchEventForm" (ngSubmit)="searchEvents()">
      <mat-form-field appearance="outline">
        <mat-label>Search for artists</mat-label>
        <input type="search" matInput placeholder="Search for artists" formControlName="searchQuery">
        <!-- <input type="search" matInput placeholder="Search PDX Events" formControlName="searchQuery" [mat-autocomplete]="auto"> -->
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        </mat-autocomplete>
        <button matSuffix mat-mini-fab color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>

  </div>

</div>

<div *ngIf="searchingEvents && searchEventSubmitted" fxLayoutAlign="center center" style="padding: 25px 0px 25px 0px;">
  <mat-spinner></mat-spinner>
</div>

<div fxLayoutAlign="center center" style="padding: 25px 0px 25px 0px;"
  *ngIf="searchEventNotFound && foundSearchEvents == undefined && searchEventSubmitted && !searchingEvents">
  <h2>No {{ searchEventForm.value.searchQuery }} events found, try again</h2>
</div>

<div *ngIf="searchEventsFound && foundSearchEvents !== undefined">

  <div class="data-table" fxLayoutAlign="center center">
    <table mat-table [dataSource]="searchDataSource" matSort multiTemplateDataRows>

      <ng-container class="mat-column" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>event</mat-icon>
          Date
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.start.date | date: 'E MMM d' }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>local_activity</mat-icon>
          Event
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.displayName }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>place</mat-icon>
          Venue
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.venue.uri }}" mat-stroked-button color="accent" target="_blank">
            {{ row.venue.displayName }}</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="uri">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon>link</mat-icon>
          Event Link
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.uri }}" mat-stroked-button color="primary" target="_blank">Check out event</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>access_time</mat-icon>
          Start Time
        </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.start.datetime != null">
            {{ row.start.datetime | date: 'shortTime' }}
          </div>

          <div *ngIf="row.start.datetime === null">
            Start time not listed
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <!-- <tr mat-header-row *matHeaderRowDef= -->
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

    </table>
    <!-- <pagination-controls></pagination-controls> -->
  </div>
</div>

<div *ngIf="foundDateSelectedEvents && foundDateSelectedEvents !== undefined">

  <mat-toolbar color="accent">
    <mat-toolbar-row fxLayoutAlign="center center">
      <h3>Events on {{ dateSelectedToolbar }}</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="data-table" fxLayoutAlign="center center">
    <table mat-table [dataSource]="searchDateDataSource" matSort multiTemplateDataRows>

      <ng-container class="mat-column" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>event</mat-icon>
          Date
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.start.date | date: 'E MMM d' }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>local_activity</mat-icon>
          Event
        </th>
        <td mat-cell *matCellDef="let row; let i = dataIndex;">

          <div *ngIf="row.status === 'cancelled'">
            <button *ngIf="row.status === 'cancelled'" mat-stroked-button color="warn">
              CANCELLED
            </button>
            <span *ngFor="let artist of row.performance; let last = last">
              <a href="{{ artist.artist.uri }}" mat-stroked-button target="_blank">
                <span *ngIf="!last">
                  <del>
                    {{ artist.displayName }}
                  </del>
                </span>

                <span *ngIf="last">
                  <del>
                    {{ artist.displayName }}
                  </del>
                </span>
              </a>
            </span>
          </div>
          <div *ngIf="row.status !== 'cancelled'">
            <span *ngFor="let artist of row.performance; let last = last">
              <a href="{{ artist.artist.uri }}" mat-stroked-button target="_blank">
                <span *ngIf="!last">
                  {{ artist.displayName }}
                </span>

                <span *ngIf="last">
                  {{ artist.displayName }}
                </span>
              </a>
            </span>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>place</mat-icon>
          Venue
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.venue.uri }}" mat-stroked-button color="accent" target="_blank">
            {{ row.venue.displayName }}</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="uri">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon>link</mat-icon>
          Event Link
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.uri }}" mat-stroked-button color="primary" target="_blank">Check out event</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>access_time</mat-icon>
          Start Time
        </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.start.datetime != null">
            {{ row.start.datetime | date: 'shortTime' }}
          </div>

          <div *ngIf="row.start.datetime === null">
            Start time not listed
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dateSelectedDisplayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: dateSelectedDisplayedColumns;"
        [ngClass]="{gray: even}"></tr>
      <tr mat-footer-row *matFooterRowDef="dateSelectedDisplayedColumns; sticky: true;"></tr>

    </table>
  </div>
</div>

<!-- <div *ngIf="this.foundSearchEvents == undefined && !searchEventsFound"> -->
<!-- <p>{{ searchEventForm.value.searchQuery }} events not found</p>
  </div> -->

<div style="padding: 0px 20px 25px;">
  <div #gmap style="width: 100%; height: 385px;"></div>
</div>

<div *ngIf="!eventsFound">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="eventsFound">

  <mat-toolbar color="accent">
    <mat-toolbar-row fxLayoutAlign="center center">
      <h3>Upcoming events in Portland</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="data-table" fxLayoutAlign="center center">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

      <ng-container class="mat-column" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>event</mat-icon>
          Date
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.start.date | date: 'E, MMM d' }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>local_activity</mat-icon>
          Event
        </th>
        <td mat-cell *matCellDef="let row; let i = dataIndex;">
          <div *ngIf="row.status === 'cancelled'">
            <button *ngIf="row.status === 'cancelled'" mat-stroked-button color="warn">
              CANCELLED
            </button>
            <span *ngFor="let artist of row.performance; let last = last">
              <a href="{{ artist.artist.uri }}" mat-stroked-button target="_blank">
                <span *ngIf="!last">
                  <del>
                    {{ artist.displayName }}
                  </del>
                </span>
                <span *ngIf="last">
                  <del>
                    {{ artist.displayName }}
                  </del>
                </span>
              </a>
            </span>
          </div>
          <div *ngIf="row.status !== 'cancelled'">
            <span *ngFor="let artist of row.performance; let last = last">
              <a href="{{ artist.artist.uri }}" mat-stroked-button target="_blank">
                <span *ngIf="!last">
                  {{ artist.displayName }}
                </span>
                <span *ngIf="last">
                  {{ artist.displayName }}
                </span>
              </a>
            </span>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>place</mat-icon>
          Venue
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.venue.uri }}" mat-stroked-button color="accent" target="_blank">
            {{ row.venue.displayName }}</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="uri">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon>link</mat-icon>
          Event Link
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.uri }}" mat-stroked-button color="primary" target="_blank">
            Check out event
          </a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>access_time</mat-icon>
          Start Time
        </th>
        <td mat-cell *matCellDef="let row">

          <div *ngIf="row.start.datetime != null">
            {{ row.start.datetime | date: 'shortTime' }}
          </div>

          <div *ngIf="row.start.datetime === null">
            Start time not listed
          </div>

        </td>
        <td mat-footer-cell *matFooterCellDef>
          <img src="assets/images/powered-by-songkick-pink.png" style="max-width: 100px;">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

    </table>

    <!-- <mat-paginator [length]="10" [pageSize]="20" (page)="pageEvent = $event"></mat-paginator> -->
  </div>
</div>