<div fxLayout="column" fxLayoutAlign=" center">

  <h2>Welcome to Live Music PDX!</h2>
  <!-- <h3>Popular events in Portland, OR:</h3> -->

  <!-- <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <img src="assets/images/powered-by-songkick-pink.png" style="width: 15%; height: 10%;">
    </mat-card-header>
  </mat-card> -->

  <!-- <mat-card style="max-width: 150px;">
    <mat-card-header fxLayoutAlign="center">
      <h3>Popular events in Portland, Oregon</h3>
    </mat-card-header>
    <img mat-card-image src="assets/images/powered-by-songkick-pink.png">
    <mat-card-content>
    </mat-card-content>
  </mat-card> -->


  <div fxLayout="row">
    <div fxLayoutAlign="center center" fxLayout="column">
      <h3>Popular events in Portland, Oregon</h3>
      <img mat-card-image src="assets/images/powered-by-songkick-pink.png" style="max-width: 100px;">
    </div>
  </div>

  <div fxLayoutAlign="end end" fxLayout="row">
    <form [formGroup]="searchEventForm" (ngSubmit)="searchEvents()">
      <mat-form-field>
        <input type="search" matInput placeholder="Search Porland, OR events" formControlName="searchQuery">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Search Events</button>
    </form>
  </div>



  <div *ngIf="searchEventsFound">

    <div class="data-table">
      <table mat-table [dataSource]="searchDataSource" matSort multiTemplateDataRows>

        <ng-container class="mat-column" matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.start.date | date: 'E MMM d' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
          <td mat-cell *matCellDef="let row">
            {{ row.displayName }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue</th>
          <td mat-cell *matCellDef="let row">
            <a href="{{ row.venue.uri }}" mat-stroked-button color="accent">
              {{ row.venue.displayName }}</a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="uri">
          <th mat-header-cell *matHeaderCellDef>Event Link</th>
          <td mat-cell *matCellDef="let row">
            <a href="{{ row.uri}}" mat-stroked-button color="primary" target="_blank">Check out event</a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="datetime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
          <td mat-cell *matCellDef="let row">
            {{ row.start.datetime | date: 'shortTime' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

      </table>

      <!-- <pagination-controls></pagination-controls> -->

      <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"></mat-paginator> -->
    </div>

  </div>




  <div *ngIf="!eventsFound">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="eventsFound">
    <div class="data-table">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <ng-container class="mat-column" matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.start.date | date: 'E MMM d' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
          <td mat-cell *matCellDef="let row">
            {{ row.displayName }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue</th>
          <td mat-cell *matCellDef="let row">
            <a href="{{ row.venue.uri }}" mat-stroked-button color="accent">
              {{ row.venue.displayName }}</a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="uri">
          <th mat-header-cell *matHeaderCellDef>Event Link</th>
          <td mat-cell *matCellDef="let row">
            <a href="{{ row.uri}}" mat-stroked-button color="primary" target="_blank">Check out event</a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container class="mat-column" matColumnDef="datetime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
          <td mat-cell *matCellDef="let row">
            {{ row.start.datetime | date: 'shortTime' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

      </table>

      <!-- <pagination-controls></pagination-controls> -->

      <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"></mat-paginator> -->
    </div>
  </div>

  <!-- <mat-card *ngIf="eventsFound"> -->

  <!-- <mat-card-header fxLayoutAlign="center" fxLayout="row"> -->
  <!-- <mat-card-title>Check out these events!</mat-card-title> -->
  <!-- <img src="assets/images/powered-by-songkick-pink.png" style="width: 15%; height: 10%;">
    </mat-card-header> -->


  <!-- <div *ngFor="let foundEvent of foundEvents" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="20px">
      <mat-card fxFlex>
        <mat-card-content>
          <a href="{{ foundEvent.uri }}" target="_bank" style="text-decoration: none;">
            {{ foundEvent.displayName }} - {{ foundEvent.venue.displayName }}
          </a>
          <div *ngIf="foundEvent.type == 'Festival'">
            <p style="background-color: aqua">{{ foundEvent.type }}</p>
          </div>
        </mat-card-content>
        <mat-card-footer fxLayoutAlign="end">
          {{ foundEvent.start.date | date }}
        </mat-card-footer>
      </mat-card>
    </div> -->

  <!-- </mat-card> -->

  <!-- <div fxLayout="column" fxLayoutAlign="center stretch">

    <div @fade *ngFor="let foundEvent of foundEvents" fxLayout="column" style="padding: 10px">
      <mat-accordion>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2> {{ foundEvent.start.date | date}} </h2>
              <h3>
                {{ foundEvent.start.date | date: 'E MMM d' }} -
                {{ foundEvent.displayName }}
              </h3>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-card>

            <h4>Venue: {{ foundEvent.venue.displayName }}</h4>

            <h4 *ngFor="let foundArtist of foundArtists">
              Artist: {{ foundArtist.displayName}}
            </h4>

            <h4>Start time: {{ foundEvent.start.datetime | date: 'shortTime' }}</h4>

            <a href="{{ foundEvent.uri }}" mat-raised-button color="primary" target="_blank">
              Check out event
            </a>

          </mat-card>

        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </div> -->

</div>
