/* table {
  width: 100%;
} */

.data-table {
  overflow: auto;
}

/* .mat-column {
  align-content: center;
} */

td.mat-cell {
  /* justify-content: center; */
  padding: 4px;
}

/* table {
  width: 100%;
} */
