.data-table {
  overflow: auto;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.bg-image {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)),
    url("https://website-images-nathan.s3-us-west-2.amazonaws.com/live-music-pdx/dominic-hampton-SPuLUQDZp3k-unsplash.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

/* @media screen and (max-width: 960px) {
  .data-table {
    vertical-align: middle;
  }

  .mat-row {
    display: block;
  }
} */

/* .mat-column {
  align-content: center;
} */

td.mat-cell {
  /* justify-content: center; */
  padding: 5px;
}

.gray {
  background-color: #f5f5f5;
}

/* table {
  width: 100%;
} */

/* @media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  } */

/*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
/* .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  } */
/*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
/* .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before { */
/*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
/* content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
} */
