
<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h2>{{ artist.name }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

  </mat-card-content>

  <mat-form-field>
    <mat-select placeholder="Manage Artist">
      <mat-option value="Edit Artist" (click)="onEditArtist()">Edit Artist</mat-option>
      <mat-option value="Delete Artist" (click)="onDeleteArtist()">Delete Artist</mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>
<!-- <ul>
    <li>
      <a style="cursor: pointer;" (click)="onEditArtist()">Edit Artist</a>
    </li>
    <li>
      <a style="cursor: pointer;" (click)="onDeleteArtist()">Delete Artist</a>
    </li>
  </ul> -->