<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h2>{{ artist.name }}</h2>
    </mat-card-title>
  </mat-card-header>

  <!-- <mat-card *ngIf="eventFound">
    <a href="{{ foundEvent.uri }}" target="_bank" style="text-decoration: none;">
      <mat-card-content>
        {{ foundEvent.displayName }}
      </mat-card-content>
    </a>
    <mat-card-footer>
      {{ foundEvent.start.date }}
    </mat-card-footer>
  </mat-card> -->

  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Manage Artist">
        <mat-option value="Edit Artist" (click)="onEditArtist()">Edit Artist</mat-option>
        <mat-option value="Delete Artist" (click)="onDeleteArtist()">Delete Artist</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Get {{ artist.name }} events</button>
  </mat-card-actions>

</mat-card>
<!-- <ul>
    <li>
      <a style="cursor: pointer;" (click)="onEditArtist()">Edit Artist</a>
    </li>
    <li>
      <a style="cursor: pointer;" (click)="onDeleteArtist()">Delete Artist</a>
    </li>
  </ul> -->