<div fxLayout="column">

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div style="margin-bottom: 15px;">
      <button mat-raised-button color="primary" (click)="onNewVenue()">Add New Venue</button>
    </div>

    <h3>or</h3>

    <div>
      <mat-form-field type="submit">
        <input matInput [(ngModel)]="searchQuery" placeholder="Search for venues">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" (click)="searchVenues(searchQuery)">Find Venues</button>
    </div>

  </div>

  <mat-divider></mat-divider>

  <mat-list>

    <app-venue-item fxLayoutAlign="center" *ngFor="let venueEl of venues; let i = index" [venue]="venueEl" [index]="i"></app-venue-item>

  </mat-list>

  <mat-divider></mat-divider>

  <mat-card *ngIf="venueFound">

    <div fxLayoutAlign="center">
      <h4 mat-subtitle>Results</h4>
      <img src="assets/images/powered-by-songkick-pink.png" style="width: 15%; height: 10%;">
    </div>

    <div *ngFor="let foundVenue of foundVenues">
      <mat-card>
        <mat-card-content>
          <a href="{{ foundVenue.uri }}" target="_blank" style="text-decoration: none;">
            {{ foundVenue.displayName }}
          </a>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card>

</div>