<!-- <div fxLayout="row" fxLayoutAlign="center"> -->

<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h2>{{ venue.name }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-label>Address:</mat-label>
    <p>{{ venue.address }}</p>
    <mat-label>Description:</mat-label>
    <p>{{ venue.description }}</p>

    <mat-form-field *ngIf="isAuthenticated()">
      <mat-select placeholder="Manage Venue">
        <mat-option value="Edit Venue" (click)="onEditVenue()">Edit Venue</mat-option>
        <mat-option value="Delete Venue" (click)="onDeleteVenue()">Delete Venue</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!isAuthenticated()" matTooltip="Signin to manage" matTooltipPosition="right">
      <mat-select placeholder="Manage Venue">
        <!-- <mat-option value="Edit Venue" (click)="onEditVenue()">Edit Venue</mat-option>
        <mat-option value="Delete Venue" (click)="onDeleteVenue()">Delete Venue</mat-option> -->
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="getVenueEvents()">Get {{ venue.name }} events</button>
    <!-- <button mat-raised-button color="primary" (click)="getVenueWebsite()">Website</button> -->
    <button mat-raised-button color="primary" (click)="getVenueWebsite()">Website</button>
    <!-- <a href="{{ foundEventsVenueUri }}">Website</a></button> -->
    <!-- <a href="{{ foundEvents.uri}}" mat-raised-button color="primary" target="_blank">Website</a> -->
  </mat-card-actions>

</mat-card>

<!-- <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center">
  <div *ngFor="let foundEvent of foundEvents" fxLayout="row" fxLayoutAlign="start center">
    <a href="{{ foundEvent.uri }}" target="_blank" style="text-decoration: none;">
      {{ foundEvent.displayName }}
    </a>
  </div>
</div> -->

<div *ngIf="eventsFound">
  <div class="data-table">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

      <ng-container class="mat-column" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.start.date | date: 'E MMM d' }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
        <td mat-cell *matCellDef="let row">
          {{ row.displayName }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let row">
          {{ row.location.city }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="uri">
        <th mat-header-cell *matHeaderCellDef>Event Link</th>
        <td mat-cell *matCellDef="let row">
          <a href="{{ row.uri }}" mat-stroked-button color="primary" target="_blank">Check out event</a>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container class="mat-column" matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let row">
          {{ row.start.datetime | date: 'shortTime' }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

    </table>

  </div>
</div>

<!-- <div *ngFor="let foundEvent of foundEvents">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>
            {{ foundEvent.start.date | date: 'E MMM d' }} -
            {{ foundEvent.displayName }}
          </h4>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card>

        <h4 *ngIf="foundEvent.start.datetime">Start time: {{ foundEvent.start.datetime | date: 'shortTime' }}</h4>

        <a href="{{ foundEvent.uri }}" mat-raised-button color="primary" target="_blank">
          Check out event
        </a>

      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>
</div> -->

<!-- </div> -->
