<h1 mat-dialog-title>Delete {{ data.name }}</h1>

<div mat-dialog-content>
  <p>Are you sure you want delete {{ data.name }} from your venue list?</p>
</div>

<div mat-dialog-actions>
  <!-- <button mat-raised-button color="primary" (click)="confirmDelete()">Yes, delete venue</button>
  <button mat-raised-button color="warn" (click)="cancelDelete()">Cancel</button> -->
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Delete</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>