<div class="mat-typography">
  <app-header (openNav)="sidenav.open()">
    <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button> -->
  </app-header>
  <!-- <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" fxLayoutAlign="center" fxFlexFill> -->
  <!-- <mat-sidenav-container fxFlexFill> -->
  <mat-sidenav-container class="all-wrap">
    <!-- <mat-sidenav #sidenav> -->
    <mat-sidenav #sidenav over>
      <mat-nav-list>

        <a mat-stroked-button routerLink="/">
          <!--routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"-->
          <mat-icon>music_note</mat-icon>Live Music PDX
        </a>
        <a mat-button routerLink="/venues" routerLinkActive="active" (click)="closeSidenav()">
          <mat-icon>local_play</mat-icon>Venues
        </a>
        <a mat-button routerLink="/artists" routerLinkActive="active" (click)="closeSidenav()">
          <mat-icon>music_video</mat-icon>Artists
        </a>

        <mat-form-field *ngIf="isAuthenticated()">
          <mat-select placeholder="Manage Data">
            <mat-option value="Save Data" (click)="onSaveData()">Save Data</mat-option>
            <mat-option value="Fetch Data" (click)="onFetchData()">Fetch Data</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-template [ngIf]="!isAuthenticated()">

          <a mat-button routerLink="/register" routerLinkActive="active" (click)="closeSidenav()">
            <mat-icon>account_box</mat-icon>Register
          </a>
          <a mat-button routerLink="/login" routerLinkActive="active" (click)="closeSidenav()">
            <mat-icon>play_circle_outline</mat-icon>Login
          </a>
        </ng-template>

        <a mat-button (click)="onLogout()" *ngIf="isAuthenticated()" (click)="closeSidenav()">
          <mat-icon>stop</mat-icon>Logout
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <!-- <mat-sidenav-content> -->
    <mat-sidenav-content class="page-wrap">
      <!-- <div [@routerTransition]="o.isActivated ? o.activatedRoute : ''" fxLayoutAlign="center" fxFlexFill> -->
      <div [@routerTransition]="o.isActivated ? o.activatedRoute : ''" fxLayoutAlign="center" fxFlexFill class="content">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <footer class="mat-typography" fxLayout="column" fxLayoutAlign="end center" fxFlexFill>Built by <a href="https://github.com/NathanPickard"
    target="_blank" style="text-decoration: none;">Nathan Pickard</a></footer> -->

<!-- <footer class="mat-typography" fxLayout="column" fxLayoutAlign="center center" style="padding: 10px;">Built by <a href="https://github.com/NathanPickard"
    target="_blank" style="text-decoration: none;">Nathan Pickard</a></footer> -->

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      <a href="https://github.com/NathanPickard" mat-stroked-button target="_blank" style="text-decoration: none; color: white;">
        Built by
        Nathan Pickard</a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
