/* #auth {
  position: absolute;
  right: 19px;
} */
/*
#auth {
  flex: 1 1 auto
} */

.spacer {
  flex: 1 1 auto;
}

.active {
  /* background-color: #FFB916; */
  /* background-color: #388e3c; */
  /* background-color: #ffeb54; */

  /* background-color: #2e7d32; */

  background-color: #0091ea;
  /* color: white; */
  border-color: #FFB916;
  border-width: 1px;
}

mat-icon {
  padding-right: 3px;
  padding-bottom: 3px;
}
