/* #auth {
  position: absolute;
  right: 19px;
} */
/*
#auth {
  flex: 1 1 auto
} */

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: #FFB916;
}

mat-icon {
  padding-right: 3px;
  padding-bottom: 3px;
}
