<mat-toolbar color="primary">

  <mat-toolbar-row>

    <!-- <mat-nav-list> -->

    <mat-icon>music_note</mat-icon>
    <a routerLink="/">Live Music PDX</a>

    <!-- <li routerLinkActive="active"> -->
    <mat-icon>local_play</mat-icon>
    <a routerLink="/venues">Venues</a>
    <!-- <li routerLinkActive="active"> -->
    <mat-icon>music_video</mat-icon>
    <a routerLink="/artists">Artists</a>

    <div id="auth">
      <mat-icon>account_box</mat-icon>
      <a routerLink="/signup">Register</a>

      <mat-icon>play_circle_outline</mat-icon>
      <a routerLink="/Login">Login</a>

      <mat-icon>stop</mat-icon>
      <a routerLink="/Logout">Logout</a>
    </div>

    <!-- </mat-nav-list> -->

  </mat-toolbar-row>

</mat-toolbar>