<mat-toolbar color="primary">

  <mat-toolbar-row fxLayoutGap="12px">

    <button mat-icon-button (click)="openNav()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <a mat-stroked-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <!--routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"-->
        <mat-icon>music_note</mat-icon>Live Music PDX
      </a>
    </div>

    <a mat-button routerLink="/venues" routerLinkActive="active">
      <mat-icon>local_play</mat-icon>Venues
    </a>

    <a mat-button routerLink="/artists" routerLinkActive="active">
      <mat-icon>music_video</mat-icon>Artists
    </a>

    <!-- </div> -->
    <span class="spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- <div fxShow="true" fxHide.lt-md="true"> -->

      <mat-form-field *ngIf="isAuthenticated()">
        <mat-select placeholder="Manage Data">
          <mat-option value="Save Data" (click)="onSaveData()">Save Data</mat-option>
          <mat-option value="Fetch Data" (click)="onFetchData()">Fetch Data</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template [ngIf]="!isAuthenticated()">

        <a mat-button routerLink="/register" routerLinkActive="active">
          <mat-icon>account_box</mat-icon>Register
        </a>

        <a mat-button routerLink="/login" routerLinkActive="active">
          <mat-icon>play_circle_outline</mat-icon>Login
        </a>

      </ng-template>

      <a mat-button (click)="onLogout()" *ngIf="isAuthenticated()">
        <mat-icon>stop</mat-icon>Logout
      </a>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
