/* #auth {
  position: absolute;
  right: 19px;  
} */
/* 
#auth {
  flex: 1 1 auto
} */

.spacer {
  flex: 1 1 auto;
}

a:link {
  text-decoration: none;
}

a.active {
  background-color: grey;
  padding: 16px;
}