<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Hi there! Welcome to Live Music PDX</h2>
  <h3>Live Music PDX is your "one stop shop" for live music in the Portland, OR area</h3>
  <img src="../../../assets/images/portland.jpg" fxFlex="300px">
</div>

<!-- <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px"> -->
<div fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout="column">
  <!-- <div fxLayout fxLayoutAlign="space-around center" fxLayoutGap="10px"> -->
  <div fxLayout="row">

    <mat-card style="background-color: #1B5E20; color: white;">
      <!-- <h4 fxLayoutAlign="center center" style="color: white;" fxFlex="35%"> -->
      <mat-card-title>
        <mat-icon>music_note</mat-icon>
      </mat-card-title>

      <mat-card-content>
        <h4>
          Portland has a wealth of awesome music venues to
          see the music that moves you</h4>
      </mat-card-content>
    </mat-card>

    <mat-card fxLayoutAlign="center end">
      <mat-card-content>
        <mat-icon>local_activity</mat-icon>
        <h4>From the historic <a href="https://www.crystalballroompdx.com/" target="_blank" style="text-decoration: none">
            McMenamen's Crstyal Ballroom</a>
          to the high school auditorium turned music venue of <a href="https://www.revolutionhall.com/" target="_blank"
            style="text-decoration: none">
            Revolution Hall</a>
          , finding an excited live music experience is just a click away!
        </h4>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"> -->
  <div fxLayout="row" fxLayoutAlign="center center">

    <mat-card style="background-color: #1B5E20;">

      <mat-card-title>
        <mat-icon style="color: white;">create</mat-icon>
      </mat-card-title>

      <mat-card-content>

        <h4 style="color: white;">Register to add and
          track your favorite venues and keep tabs
          on the artists that inspire you the most!
        </h4>

      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/register" mat-raised-button style="background-color: #FFB916; color: white;">
          Register</a>
      </mat-card-actions>
    </mat-card>

  </div>

  <mat-card style="background-color: #1B5E20; color: white">
    <mat-card-title>
      Questions? Feedback? Reach out to me!
    </mat-card-title>
    <mat-card-content>
      Shoot me an email! I'd love to hear from you!
    </mat-card-content>
    <mat-card-actions>
      <a href="mailto:nathan.pickard87@gmail.com" mat-raised-button style="background-color: #FFB916; color: white;">
        <mat-icon>email</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

</div>
