<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Hi there! Welcome to Live Music PDX</h2>
  <img src="../../../assets/images/portland.jpg" fxFlex="300px">
  <h3>Live Music PDX is your "one stop shop" for live music in the Portland, OR area</h3>
</div>

<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <h4>Register to add and track for favorite venues and keep tabs on the artists that inspire you the most</h4>
  <a routerLink="/register" mat-raised-button color="primary">Register</a>
</div>
