<div fxLayout="column">

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div style="margin-bottom: 15px;">
      <!-- <button mat-raised-button color="primary" [disabled]="authService.isAuthenticated()" (click)="onNewArtist()">Add New -->
      <button mat-raised-button color="primary" (click)="onNewArtist()">
        <mat-icon>playlist_add</mat-icon>Add New Artist
      </button>
      <button mat-raised-button color="primary" (click)="getUserToken()">
        <mat-icon>playlist_add</mat-icon>get user token
      </button>
    </div>

    <h3>or</h3>

    <!-- <div>
      <mat-form-field>
        <input type="search" matInput [(ngModel)]="searchQuery" placeholder="Search for artists">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" (click)="searchArtists(searchQuery)">Find Artists</button>
    </div> -->

    <form [formGroup]="searchArtistForm" (ngSubmit)="searchArtists()">
      <mat-form-field>
        <input type="search" matInput placeholder="Search for artists" formControlName="searchQuery">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>Find Artists
      </button>
    </form>


  </div>

  <mat-divider></mat-divider>

  <div fxLayout="column">
    <app-artist-item fxLayoutAlign="space-around center" style="padding-top: 10px;" *ngFor="let artistEl of artists; let i = index"
      [artist]="artistEl" [index]="i"></app-artist-item>
  </div>

  <mat-divider></mat-divider>

  <mat-card *ngIf="artistFound">

    <div fxLayoutAlign="center">
      <h4 mat-subtitle>Results</h4>
      <img src="assets/images/powered-by-songkick-pink.png" style="width: 15%; height: 10%;">
    </div>

    <!-- <div *ngFor="let foundArtist of foundArtists">
      <mat-card>
        <mat-card-content>
          <a href="{{ foundArtist.uri }}" target="_blank" style="text-decoration: none;">
            {{ foundArtist.displayName }}
          </a>
          <div fxLayoutAlign="end center">
            <button mat-icon-button color="primary" (click)="addArtistToList(foundArtist.displayName, foundArtist.id)"
              matTooltip="Add to artists list" matTooltipPosition="above">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->

    <div *ngFor="let foundArtist of foundArtists">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a href="{{ foundArtist.uri }}" target="_blank" style="text-decoration: none;">
                {{ foundArtist.displayName }}
              </a>
            </mat-panel-title>
          </mat-expansion-panel-header>


          <mat-card *ngIf="foundArtist.onTourUntil">
            <h4>On tour until: {{ foundArtist.onTourUntil | date: 'E MMM d, y' }}</h4>
          </mat-card>

          <div fxLayout="row" fxLayoutGap="20px">

            <div fxLayoutAlign="end center">
              <button mat-icon-button color="primary" (click)="addArtistToList(foundArtist.displayName, foundArtist.id)"
                matTooltip="Add to artists list" matTooltipPosition="above">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>

            <button mat-raised-button color="primary" (click)="getSearchArtistEvents(foundArtist.id)">
              Get '{{ foundArtist.displayName }}' events
            </button>

            <button mat-raised-button color="primary" (click)="searchSimilarArtist(foundArtist.id)">
              Similar Artists
            </button>

          </div>


          <div *ngFor="let similarArtist of similarArtists">
            {{ similarArtist.displayName }}
          </div>

          <div *ngFor="let artistEvent of artistEvents">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>
                      {{ artistEvent.start.date | date: 'E MMM d' }} -
                    </h3>
                    <a href="{{ artistEvent.uri }}" target="_blank">
                      {{ artistEvent.displayName }}
                    </a>

                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                  <h4>
                    Start time: {{ artistEvent.start.datetime | date: 'shortTime' }}
                  </h4>

                </mat-card>

              </mat-expansion-panel>
            </mat-accordion>
          </div>


        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-card>

</div>