<div fxLayout="column">

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div style="margin-bottom: 15px;">
      <!-- <button mat-raised-button color="primary" [disabled]="authService.isAuthenticated()" (click)="onNewArtist()">Add New -->
      <button mat-raised-button color="primary" (click)="onNewArtist()">Add New
        Artist</button>
    </div>

    <h3>or</h3>

    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="searchQuery" placeholder="Search for artists">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" (click)="searchArtists(searchQuery)">Find Artists</button>
    </div>

    <!-- <div>
      <form [formGroup]="searchArtistForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Search for artists">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Find Artists</button>
      </form>
    </div> -->

  </div>

  <mat-divider></mat-divider>

  <mat-list>
    <app-artist-item fxLayoutAlign="center" *ngFor="let artistEl of artists; let i = index" [artist]="artistEl" [index]="i"></app-artist-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-card *ngIf="artistFound">

    <div fxLayoutAlign="center">
      <h4 mat-subtitle>Results</h4>
      <img src="assets/images/powered-by-songkick-pink.png" style="width: 15%; height: 10%;">
    </div>

    <div *ngFor="let foundArtist of foundArtists">
      <mat-card>
        <mat-card-content>
          <a href="{{ foundArtist.uri }}" target="_blank" style="text-decoration: none;">
            {{ foundArtist.displayName }}
          </a>
          <div fxLayoutAlign="end center">
            <button mat-icon-button color="primary" matTooltip="Add to artists list" matTooltipPosition="above">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card>

</div>