<div fxLayout="column">

  <div fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div style="margin-bottom: 15px;">
      <!-- <button mat-raised-button color="primary" [disabled]="!isAuthenticated()" matTooltip="Signin to add artist" (click)="onNewArtist()">
        <mat-icon>playlist_add</mat-icon>
        Add New Artist
      </button> -->

      <button *ngIf="!isAuthenticated()" mat-raised-button color="primary" matTooltip="Sign-in to add artist"
        matTooltipPosition="above" (click)="addOnUnauthenticated()">
        <mat-icon>playlist_add</mat-icon>Add New Artist
      </button>

      <button *ngIf="isAuthenticated()" mat-raised-button color="primary" (click)="onNewArtist()">
        <mat-icon>playlist_add</mat-icon>Add New Artist
      </button>

    </div>

    <mat-divider fxHide.lt-sm="true" [vertical]="true" style="height: 60px;"></mat-divider>
    <mat-divider fxHide.gt-xs="true" style="width: 200px;"></mat-divider>

    <form [formGroup]="searchArtistForm" (ngSubmit)="searchArtists()">

      <mat-form-field appearance="outline">
        <mat-label>Search for artists</mat-label>
        <!-- <input type="search" matInput placeholder="Search for artists" formControlName="searchQuery"> -->
        <input type="search" matInput [matAutocomplete]="auto" placeholder="Search for artists"
          formControlName="searchQuery">
        <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"> -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let filteredArtist of filteredArtists" [value]="filteredArtist.displayName">
              <a href="{{ filteredArtist.uri }}" target="_blank" style="text-decoration: none;">
                <span><b>{{ filteredArtist.displayName }}</b>({{ filteredArtist.onTourUntil }})</span>
              </a>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <button matSuffix mat-mini-fab color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <!-- <ng-container *ngIf="errorMsg; else elseTemplate">
        {{ errorMsg }}
      </ng-container> -->

      <!-- <ng-template #elseTemplate>
        <h5>Selected Value: {{ searchQuery }}</h5>
      </ng-template> -->

    </form>

  </div>

  <div fxLayout="column">

    <mat-toolbar color="accent">
      <!-- style="background-color: #FFB916; color: white;" -->
      <div fxFlex fxLayoutAlign="center center">
        Your Artists
      </div>
    </mat-toolbar>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <app-artist-item fxLayoutAlign="space-around center" style="padding-top: 15px;"
        *ngFor="let artistEl of artists; let i = index; let last = last" [ngClass]="{last: last}" [artist]="artistEl"
        [index]="i">
      </app-artist-item>
    </div>

  </div>

  <div fxLayoutAlign="center center">
    <mat-divider fxLayoutAlign="center center" style="width: 40%;"></mat-divider>
  </div>

  <div *ngIf="searchingArtist && searchArtistSubmitted" fxLayoutAlign="center center"
    style="padding: 25px 0px 25px 0px;">
    <mat-spinner></mat-spinner>
  </div>

  <div fxLayoutAlign="center center" style="padding: 25px 0px 25px 0px;"
    *ngIf="searchArtistNotFound && foundArtists == undefined && searchArtistSubmitted && !searching">
    <h2>{{ searchArtistForm.value.searchQuery }} not found, try agian</h2>

  </div>

  <mat-card *ngIf="artistFound">

    <div @fade *ngFor="let foundArtist of foundArtists">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a href="{{ foundArtist.uri }}" target="_blank" style="text-decoration: none;">
                {{ foundArtist.displayName }}
              </a>
            </mat-panel-title>
          </mat-expansion-panel-header>


          <mat-card *ngIf="foundArtist.onTourUntil">
            <h4>On tour until: {{ foundArtist.onTourUntil | date: 'E MMM d, y' }}</h4>
          </mat-card>

          <mat-card *ngIf="!foundArtist.onTourUntil">
            <h4>{{ foundArtist.displayName }} is not currently on tour</h4>
          </mat-card>

          <div fxLayout="row" fxLayoutGap="20px" style="padding-top: 16px;">

            <div fxLayoutAlign="end center">
              <button mat-icon-button color="primary" (click)="addArtistToList(foundArtist.displayName, foundArtist.id)"
                matTooltip="Add to artists list" matTooltipPosition="above">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>

            <button *ngIf="foundArtist.onTourUntil" mat-raised-button color="primary"
              (click)="getSearchArtistEvents(foundArtist.id)">
              Get {{ foundArtist.displayName }} events
            </button>

            <button mat-raised-button color="primary" (click)="searchSimilarArtist(foundArtist.id)">
              Similar Artists
            </button>

          </div>

          <div *ngIf="similarArtists">
            <mat-toolbar color="primary">
              <div fxFlex fxLayoutAlign="center center">
                Artists similar to {{ foundArtist.displayName }}
              </div>
            </mat-toolbar>
            <mat-list *ngFor="let similarArtist of similarArtists">
              <mat-list-item fxLayoutAlign="center center">
                <a href="{{ similarArtist.uri }}" target="_blank" style="text-decoration: none;">
                  {{ similarArtist.displayName }}
                </a>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>

          <div *ngIf="artistEventsFound">
            <div class="data-table">
              <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                <ng-container class="mat-column" matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>event</mat-icon>
                    Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.start.date | date: 'E MMM d' }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container class="mat-column" matColumnDef="displayName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>local_activity</mat-icon>
                    Event
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.displayName }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container class="mat-column" matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>location_city</mat-icon>
                    City
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.location.city }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container class="mat-column" matColumnDef="venue">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>place</mat-icon>
                    Venue
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <a href="{{ row.venue.uri }}" mat-stroked-button color="accent" target="_blank">
                      {{ row.venue.displayName }}</a>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container class="mat-column" matColumnDef="uri">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-icon>link</mat-icon>
                    Event Link
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <a href="{{ row.uri }}" mat-stroked-button color="primary" target="_blank">Check out event</a>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container class="mat-column" matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>access_time</mat-icon>
                    Start Time
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.start.datetime != null">
                      {{ row.start.datetime | date: 'shortTime' }}
                    </div>

                    <div *ngIf="row.start.datetime === null">
                      Start time not listed
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

              </table>

            </div>
          </div>

          <!-- <div *ngFor="let artistEvent of artistEvents">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>

                    <h3>
                      {{ artistEvent.start.date | date: 'E MMM d' }} -
                      {{ artistEvent.displayName }}
                    </h3>

                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card>
                  <h4>
                    Start time: {{ artistEvent.start.datetime | date: 'shortTime' }}
                  </h4>
                  <a href="{{ artistEvent.uri }}" mat-raised-button color="primary" target="_blank">
                    Check out event
                  </a>
                </mat-card>

              </mat-expansion-panel>
            </mat-accordion>
          </div> -->

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div fxLayoutAlign="center">
      <img src="assets/images/powered-by-songkick-pink.png" style="max-width: 100px; padding-top: 16px;">
    </div>

  </mat-card>

</div>